*{
  margin: 0;
  padding: 0;
  max-width:100%;

}
/* .home{
  display: flex;
  justify-content: center;
  background: red;
} */
.options{
  border:solid 1px black;
}
.option:hover{
  background: rgb(164, 164, 202);
  /* width: 100%; */
  padding: 0;
}